table,tr,th,tfoot,td{
    border:1px solid grey;
}
h1{
    font-size:50px;
    font-weight:border;
    text-align: center;
}
#h1{
    font-size:50px;
    font-weight:border;
    text-align: center;  
}
nav ul li{
list-style: circle;
}